@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
:root {
  --primary-color: #034078;
  --secondary-color: #2ead94;
  --blue-color: #034078;
  --dark-color: #333333;
  --light-color: #f0f0f0;
  --light-color-hover: #c7c7c7;
  --gray-color: #5c5c5c;
  --orange-color: #ee9b3b;
  --light-gray-color: #e2e2e2;
  --danger-color: #dc3545;
  --warning-color: #dfba19;
  --success-color: #179227;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  height: 100vh;
  /* Blue lagoon background ♥ ♥ ♥ */
  background: #191654;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #191654, #2ead94);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #343072, #2ead94); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

h1, h2, h3 {
  color: #efefef;
}

/* Utilities */
.container {
  max-width: 1300px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.container-nav li {
  margin: 0 0.25rem;
}

.container-auth {
  max-width: 600px;
  margin: 2rem auto;
  overflow: hidden;
  padding: 0.7rem 1.5rem;
  color: #444;
}

.history {
  display: flex;
  color: #efefef;
  justify-content: space-around;
}

.history h2 {
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.history .active {
  border-bottom: 2px solid white;
  transition: all 0.5s ease-in-out;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-success {
  color: var(--success-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-gray {
  color: var(--gray-color);
  line-height: 1.5;
}

.text-light {
  color: var(--light-color);
}

.text-orange {
  color: var(--orange-color);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* Cards */
.card {
  padding: 0.85rem;
  border: #818181 1px solid;
  margin: 0.8rem auto;
}

.text-card {
  display: flex;
  justify-content: space-around;
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 10px;
}

.text-card-secondary {
  border: 1px #ccc solid;
  background-color: rgba(226, 226, 226, 0.836);
  color: #e2e2e2;
}

/* List */
.list {
  margin: 0.1rem 0;
}

.list li {
  padding: 0.15rem 0;
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.pt-1 {
  padding-top: 1rem;
}
.pt-2 {
  padding-top: 1.6rem;
}
.pt-3 {
  padding-top: 3rem;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}

.mt-1 {
  margin-top: 0.5rem;
}
.mt-2 {
  margin-top: 1rem;
}
.mt-3 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}
.mb-2 {
  margin-bottom: 1rem;
}
.mb-3 {
  margin-bottom: 2rem;
}

.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.grid-2-3 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 2rem;
}

/* Buttons - Badges - Etc */
.btn {
  display: inline-block;
  background: var(--light-color);
  padding: 0.2rem 0.8rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  margin-right: 0.75rem;
  margin-bottom: 0.2rem;
  transition: all 0.2s ease;
  outline: none;
  text-align: center;
  border-radius: 5px;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-form {
  padding: 0.7rem 1rem;
}

.badge {
  display: inline-block;
  font-size: 0.82rem;
  padding: 0rem 0.7rem;
  text-align: center;
  margin-top: -40px;
  background: var(--light-color);
  color: #333;
  border-radius: 5px;
}

.badge-details {
  display: initial;
  max-width: 400px;
  font-size: 1rem;
}

.badge i,
.badge span {
  font-size: 0.7rem;
}

.bg-menu {
  display: grid;
  grid-template-columns: 2fr 1.1fr;
  background: var(--light-color);
  transition: all 0.3s ease;
}

.bg-order {
  background: var(--light-color);
  transition: all 0.3s ease;
  max-width: 500px;
}

.bg-menu:hover,
.bg-order:hover {
  background: var(--light-color-hover);
}

.bg-order-secondary {
  background: var(--light-color);
}

.alert {
  padding: 0.7rem;
  margin: 1rem auto;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
  width: 70%;
  text-align: center;
}

.spinner {
  width: 100px;
  height: 100px;
  margin: 5rem auto 0 auto;
  display: block;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-primary:hover {
  background: var(--danger-color);
}

.btn-secondary,
.bg-secondary,
.badge-secondary,
.alert-secondary {
  background: var(--secondary-color);
  color: #fff;
}

.btn-secondary:hover {
  background-color: var(--danger-color);
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-blue,
.bg-blue,
.badge-blue,
.alert-blue {
  background: var(--primary-color);
  color: #efefef;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  border: 1px var(--danger-color) solid;
  color: #fff;
}

.alert-warning {
  background: var(--warning-color);
  color: #fff;
}

.btn-danger {
  margin-top: 0.5rem;
}

.btn-danger:hover {
  background-color: var(--light-color);
  color: red;
  border: 1px var(--danger-color) solid;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  border: 1px var(--success-color) solid;
  color: #fff;
}

.btn-success:hover {
  background-color: var(--light-color);
  color: green;
  border: 1px var(--success-color) solid;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn-orange,
.bg-orange,
.badge-orange,
.alert-orange {
  background-color: var(--orange-color);
  color: #efefef;
}

.badge-sushi {
  background-color: #168194;
  color: #efefef;
}

.badge-hotdog {
  background-color: #d44128;
  color: #efefef;
}

.bg-light,
.badge-light {
  background-color: var(--light-color);
  border: #ccc solid 1px;
}

.bg-light-gray,
.badge-light-gray {
  background-color: var(--light-gray-color);
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

/* Forms */
input {
  margin: 1.2rem 0;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='date'],
input[type='textarea'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type='submit'],
textarea,
button {
  font: inherit;
}

input[type='radio'] {
  margin: 0.5rem 0.5rem 0 0.5rem;
  font-family: inherit;
}

.form-group {
  margin: 1.2rem 0;
}

.form-group input {
  margin: 0.2rem 0;
}

.form-container {
  margin: 0.8rem auto 2rem auto;
  overflow: hidden;
  padding: 0.85rem;
}

.form-container h1,
h2,
h3 {
  text-align: center;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  background-color: #1f1f1f;
  opacity: 0.9;
  margin-bottom: 1rem;
  color: #efefef;
}

.price {
  letter-spacing: 0.02rem;
  font-weight: bold;
  /* margin-bottom: 0.5rem; */
}

.bold {
  font-weight: bold;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--light-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Animation (Add After) */
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}

/* Mobile Styles */
@media (max-width: 1150px) {
  .bg-menu {
    grid-template-columns: 1fr;
  }

  .hide-sm {
    display: none;
  }
}

@media (max-width: 820px) {
  /* Utilities */
  .alert {
    width: 100%;
  }

  .btn {
    display: block;
    width: 100%;

  }

  .grid-2 {
    grid-template-columns: 1fr;
  }

  .bg-menu,
  .bg-order {
    margin: 0.8rem 0.75rem;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  /* Navbar */
  .container-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .navbar h1 {
    margin-bottom: 0.5rem;
  }
}
